nav#nav(role="navigation")
	ul
		li.active
			a(href="#") Home
		li
			a(href="#") Something

section.main(role="main")
	header.popped-out
		h1 Argyle Ink
		a#toggle(href="#nav") Menu

	aside.large-4.columns.large-gap
		div.panel
			figure
				img.circle(src="http://placehold.it/200x200&text=[img]")
			nav.social-links
				a.btn-simple.icon-github(href="https://github.com/argyleink") Github
				a.btn-simple.icon-bug(href="https://coderbits.com/argyleink") Coderbits
				a.btn-simple.icon-file-css(href="https://coderwall.com/argyleink") Coderwall
				a.btn-simple.icon-linkedin(href="www.linkedin.com/in/adamargyle/") Linked In
				a.btn-simple.icon-twitter(href="https://twitter.com/argyleink") Twitter
				a.btn-simple.icon-google-plus(href="https://plus.google.com/113556563890081284759/") Google+
				a.btn-simple.icon-stackoverflow(href="http://stackoverflow.com/users/610219") Stack Overflow

	div.large-8.columns.feed.large-gap
		for post in site.posts
			article.row
				figure.large-2.columns.small-3
					img.circle(src="#{post.heroimage}")
				a(href="#{post.url}")
					div.large-10.columns
						h1.feed-title #{post.title}
							span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}
		for post in site.work
			article.row
				figure.large-2.columns.small-3
					img.circle(src="#{post.heroimage}")
				a(href="#{post.url}")
					div.large-10.columns
						h1.feed-title #{post.title}
							span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}

	footer.row
		div.large-12.columns.large-gap.popped-in
			div.row
				div.large-5.columns
					p Site made with Roots.cx