header
	nav#nav.flex
		h1.flex2 Argyle Ink
		a.popped-out.btn-simple.flex1(href="#") Home
		a.popped-out.btn-simple.flex1(href="#") Something

div.main
	
	//- aside.large-gap
	//- 	figure
	//- 		img.circle(src="http://placehold.it/200x200&text=[img]")
	//- 	nav.social-links
	//- 		a.btn-simple.icon-github(href="https://github.com/argyleink") Github
	//- 		a.btn-simple.icon-bug(href="https://coderbits.com/argyleink") Coderbits
	//- 		a.btn-simple.icon-file-css(href="https://coderwall.com/argyleink") Coderwall
	//- 		a.btn-simple.icon-linkedin(href="www.linkedin.com/in/adamargyle/") Linked In
	//- 		a.btn-simple.icon-twitter(href="https://twitter.com/argyleink") Twitter
	//- 		a.btn-simple.icon-google-plus(href="https://plus.google.com/113556563890081284759/") Google+
	//- 		a.btn-simple.icon-stackoverflow(href="http://stackoverflow.com/users/610219") Stack Overflow

	section#social.carousel.out.popped-in.top-radial
		ol.animate.flex
			for post in site.social
				li
					figure
						img.circle(src="#{post.picture}")
					div
						a(href="#{post.url}")
							h1.feed-title #{post.title}

	section#posts.carousel.out.popped-in.top-radial
		ol.animate.flex
			for post in site.posts
				li
					figure
						img.circle(src="#{post.heroimage}")
					div
						a(href="#{post.url}")
							h1.feed-title #{post.title}
								span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}

	section#work.carousel.out.popped-in.top-radial
		ol.animate.flex
			for post in site.work
				li
					figure
						img.circle(src="#{post.heroimage}")
					div
						a(href="#{post.url}")
							h1.feed-title #{post.title}
								span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}

footer
	p Site made with Roots.cx