div.main.scroll-y
	
	section#social.carousel.out.popped-in.top-radial.no-select
		h1 Social
		span.next.btn-nav
			i.icon-arrow-right
		span.prev.btn-nav
			i.icon-arrow-left
		ol.animate.flex
			for post in site.social
				li
					figure
						img.feed-image.circle.light-blue-border(src="#{post.picture}")
					div.feed-meta
						h1.feed-title #{post.title}
						h5.feed-tags #{post.tagline}
						a.btn-simple.feed-launch(href="#{post.profileUrl}", target="_blank") Launch

	section#work.carousel.out.popped-in
		h1 Work
		span.next.btn-nav
			i.icon-arrow-right
		span.prev.btn-nav
			i.icon-arrow-left
		ol.animate.flex
			for post in site.work
				li.no-select
					figure
						img.feed-image.circle(src="#{post.heroimage}")
					div.feed-meta
						a(href="#{post.url}")
							h1.feed-title #{post.title}
						if post.category != null
							h5.feed-tags(data-icon="T") #{post.category}
							span.feed-date #{post.date}
					a.btn-simple.feed-launch(href="#{post.url}", target="_blank") Read

	section#labs.carousel.out.popped-in
		h1 Labs
		span.next.btn-nav
			i.icon-arrow-right
		span.prev.btn-nav
			i.icon-arrow-left
		ol.animate.flex
			for post in site.labs
				li.no-select
					figure
						img.feed-image.circle(src="#{post.heroimage}")
					div.feed-meta
						a(href="#{post.url}")
							h1.feed-title #{post.title}
						if post.category != null
							h5.feed-tags(data-icon="T") #{post.category}
							span.feed-date #{post.date}
					a.btn-simple.feed-launch(href="#{post.url}", target="_blank") Read

	section#posts.carousel.out.popped-in.bottom-radial
		h1 Blog
		span.next.btn-nav
			i.icon-arrow-right
		span.prev.btn-nav
			i.icon-arrow-left
		ol.animate.flex
			for post in site.posts
				li.no-select
					figure
						img.feed-image.circle(src="#{post.heroimage}")
					div.feed-meta
						a(href="#{post.url}")
							h1.feed-title #{post.title}
						if post.category != null
							h5.feed-tags(data-icon="T") #{post.category}
						p #{post.excerpt}
							span.feed-date Posted: #{post.date}
						a.btn-simple.feed-launch(href="#{post.url}", target="_blank") Read

include footer