header.bottom-radial
	nav#nav.flex
		h1.flex2 Argyle Ink
		a.popped-out.btn-simple(href="#") Home
		a.popped-out.btn-simple(href="#") Something

div.main
	
	section#social.carousel.out.popped-in.top-radial.no-select
		ol.animate.flex
			for post in site.social
				li
					figure
						img.feed-image.circle.light-blue-border(src="#{post.picture}")
					div
						h1.feed-title #{post.title}
						h5.feed-tagline #{post.tagline}
						a.btn-simple(href="#{post.profileUrl}", target="_blank") Launch

	section#posts.carousel.out.popped-in
		ol.animate.flex
			for post in site.posts
				li.no-select
					figure
						img.circle(src="#{post.heroimage}")
					div
						a(href="#{post.url}")
							h1.feed-title #{post.title}
								span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}

	section#work.carousel.out.popped-in.bottom-radial
		ol.animate.flex
			for post in site.work
				li.no-select
					figure
						img.circle(src="#{post.heroimage}")
					div
						a(href="#{post.url}")
							h1.feed-title #{post.title}
								span.feed-date #{post.date}
						if post.category != null
							span.feed-tags.icon-tag #{post.category}

footer.top-radial
	p Site made with Roots.cx